# База данных
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# VS Code
.vscode/
*.code-workspace

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log
*.tmp ~ 
